<a href="https://colab.research.google.com/github/kyumin0121/NLP_2024/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
a = 20
print (a)

20

In [9]:
b = 30
print(b)

2

In [10]:
print (a+b)

22

In [11]:
c = "I love Python"
print (c)

I love Python

In [12]:
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)

Lori
Sam
Ken
Jen
Emma

In [ ]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ] #행성 이름
f = [1,2,3,4,5,6,7,8]

print (d)
print(e)
print (f)

In [13]:
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banna', 'grapes','mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print(list_data)
print ('\n')
print(tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

In [14]:
x=100
y=95

if x>y:
  print('x is greater than y.')


else:
  print('x is smaller than or equal to y.')

x is greater than y.

In [15]:
x=0
y=0

if x > y:
  print('x is greater than y')

else:
  print('x is smaller than or equal to y')

x is smaller than or equal to y

In [ ]:
list = ['a', 'b', 'c']
if 'a' in list:
  print ('a가 list 안에 있습니다.')
  print(list)