<a href="https://colab.research.google.com/github/kyumin0121/NLP_2024/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 20
print (a)

20

In [ ]:
b = 30
print(b)

2

In [ ]:
print (a+b)

22

In [ ]:
c = "I love Python"
print (c)

I love Python

In [ ]:
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)

Lori
Sam
Ken
Jen
Emma

In [ ]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ] #행성 이름
f = [1,2,3,4,5,6,7,8]

print (d)
print(e)
print (f)

In [ ]:
dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banna', 'grapes','mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print(list_data)
print ('\n')
print(tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python


['apple', 'banna', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [ ]:
x=100
y=95

if x>y:
  print('x is greater than y.')


else:
  print('x is smaller than or equal to y.')

x is greater than y.

In [6]:
x=0
y=0

if x > y:
  print('x is greater than y')

else:
  print('x is smaller than or equal to y')

x is smaller than or equal to y

In [ ]:
list = ['a', 'b', 'c']
if 'a' in list:
  print ('a가 list 안에 있다.')
  print(list)

a가 list 안에 있습니다.
['a', 'b', 'c']

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banna', 'grapes','mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print(list_data)
print ('\n')
print(tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python


['apple', 'banna', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [ ]:
import re

text = "The quick brown fox jumps over the lazy dog."
pattern = r"[a-z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: h
Match: e
Match: q
Match: u
Match: i
Match: c
Match: k
Match: b
Match: r
Match: o
Match: w
Match: n
Match: f
Match: o
Match: x
Match: j
Match: u
Match: m
Match: p
Match: s
Match: o
Match: v
Match: e
Match: r
Match: t
Match: h
Match: e
Match: l
Match: a
Match: z
Match: y
Match: d
Match: o
Match: g

In [ ]:
import re

text = "A total of 149 episodes of The Aesop for Children."
pattern = r"[0-9]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: 1
Match: 4
Match: 9

In [5]:
import re

text = "Hello, world.\n This is test #5."
pattern = r"\."

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: .
Match: .

In [ ]:
import re

text1 = "The price is $100 and the number pi is approximately 3.14."
pattern1 = r'\d+'

text2 = "The number pi is approximately 3.14159265358979323846 and you will hear a lot about it in Math class from 1st Grade to the 12th Grade."
pattern2 = r"\d+\.\d+"

matches1 = re.findall(pattern1, text1)
matches2 = re.findall(pattern2, text2)

for i in matches1:
    print("Match1:", i)

print('\n')

for i in matches2:

SyntaxError: incomplete input (<ipython-input-14-c6c8061bd417>, line 17)

In [4]:
import re

text = "Hello   World"
pattern = r"\S"

matches = re.findall(pattern, text)

for match in matches:
    print("Match:", match)

Match: H
Match: e
Match: l
Match: l
Match: o
Match: W
Match: o
Match: r
Match: l
Match: d

In [3]:
import re

text = "123 _Main_ Street_ and 5th Avenue "
pattern = r"\d\s\w+"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 3 _Main_

In [2]:

scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:
  print('Perfect')

1
2
3
4
5
Perfect

In [20]:
def add_txt(t1,t2):
  print (t1 + t2)


def add_txt(t1, t2):
    result = t1 + t2
    return result

In [19]:
list = [1,2,3,4]
for i in list:
  print(i)
  break
else:
  print('Perfect')

1

In [18]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

In [17]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

a = FourCal()
b = FourCal()
c = FourCal()

a.setdata(10,20)
b.setdata(300,400)
c.setdata(123,456)

In [16]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

a = FourCal()
b = FourCal()
c = FourCal()

a.setdata(10,20)
b.setdata(300,400)
c.setdata(123,456)

In [15]:
class Calculator:
    def initialize(self): #The initialize method is used to set the initial value of self.result to 0
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

    def sub(self, num):
        self.result -= num
        return self.result

In [14]:

def tokenize_and_lower(text):

    text = text.replace("\n", " ")

    words = text.split()

    words_lower = [word.lower() for word in words]
    return words_lower


text1 = """
Mimi Kim, teaching professor of Korean language, is the co-author of a new Korean language textbook that uses folktales as a springboard for language learning. The 21 stories that make up Tigers, Fairies, and Gods: Enchanting Folktales from Korea progress through increasingly challenging levels of diction and vocabulary while developing students’ cultural literacy.\n Every semester, Mimi Kim asks her Korean language students at WashU to write their own Korean-style folktales. She says that folktales are “rich in cultural context, and so they provide a very effective backdrop for discussions about cultural practices and perspectives. Students really get into our discussions about commonalities and differences between Korean folktales and the stories that they grew up with in their own communities.” Kim sees cultural literacy as a key tool for the language classroom. Tigers, Fairies, and Gods grew out of that idea.\n The book is an unusually rich visual object, with vibrant illustrations done in a style that is evocative of Korean animation. Kim and her co-author, Angela Lee-Smith of Yale University, use visual and linguistic cues to engage with students’ cultural knowledge. In “Sister Sun and Brother Moon,” for example, a brother and sister encounter a tiger in their mother’s clothing in a scene that might evoke echoes of “Little Red Riding Hood” for readers who grew up with the Grimm brothers’ tales. That kind of cross-cultural comparison is exactly what we hope for in humanities education, Kim says. “By learning a new language you gain a richer understanding of cultural differences and similarities,” she says. “Folktales are a natural tool for that work. They just needed to be put together in a way that was more useful for students.”
"""

count1 = len(text1)
print(count1)

text2 = text1.replace('\n', ' ')
count2 = len(text2)
print(count2)

1764
1764

In [13]:
import urllib.request
url = "https://raw.githubusercontent.com/ms624atyale/Temp_Data/main/Article_about_enchanting_folktakes_from_Korea.txt"
response = urllib.request.urlopen(url)
content = response.read().decode('utf-8')

print(content)

words = content.split()

unique_words = set(words)
ttr = len(unique_words) / len(words)


print("Type-Token Ratio (TTR):", ttr)
print("Unique words (Types):", sorted(unique_words))
print("Tokens:", words)

Mimi Kim, teaching professor of Korean language, is the co-author of a new Korean language textbook that uses folktales as a springboard for language learning.
The 21 stories that make up Tigers, Fairies, and Gods: Enchanting Folktales from Korea progress through increasingly challenging levels of diction and vocabulary while developing students’ cultural literacy.\n
Every semester, Mimi Kim asks her Korean language students at WashU to write their own Korean-style folktales. She says that folktales are “rich in cultural context, and so they provide a very effective backdrop for discussions about cultural practices and perspectives. Students really get into our discussions about commonalities and differences between Korean folktales and the stories that they grew up with in their own communities.” Kim sees cultural literacy as a key tool for the language classroom. Tigers, Fairies, and Gods grew out of that idea.\n
The book is an unusually rich visual object, with vibrant illustrations done in a style that is evocative of Korean animation. Kim and her co-author, Angela Lee-Smith of Yale University, use visual and linguistic cues to engage with students’ cultural knowledge. In “Sister Sun and Brother Moon,” for example, a brother and sister encounter a tiger in their mother’s clothing in a scene that might evoke echoes of “Little Red Riding Hood” for readers who grew up with the Grimm brothers’ tales.
That kind of cross-cultural comparison is exactly what we hope for in humanities education, Kim says. “By learning a new language you gain a richer understanding of cultural differences and similarities,” she says. “Folktales are a natural tool for that work. They just needed to be put together in a way that was more useful for students.”

Type-Token Ratio (TTR): 0.6272401433691757
Unique words (Types): ['21', 'Angela', 'Brother', 'Enchanting', 'Every', 'Fairies,', 'Folktales', 'Gods', 'Gods:', 'Grimm', 'Hood”', 'In', 'Kim', 'Kim,', 'Korea', 'Korean', 'Korean-style', 'Lee-Smith', 'Mimi', 'Moon,”', 'Red', 'Riding', 'She', 'Students', 'Sun', 'That', 'The', 'They', 'Tigers,', 'University,', 'WashU', 'Yale', 'a', 'about', 'an', 'and', 'animation.', 'are', 'as', 'asks', 'at', 'backdrop', 'be', 'between', 'book', 'brother', 'brothers’', 'challenging', 'classroom.', 'clothing', 'co-author', 'co-author,', 'commonalities', 'communities.”', 'comparison', 'context,', 'cross-cultural', 'cues', 'cultural', 'developing', 'diction', 'differences', 'discussions', 'done', 'echoes', 'education,', 'effective', 'encounter', 'engage', 'evocative', 'evoke', 'exactly', 'example,', 'folktales', 'folktales.', 'for', 'from', 'gain', 'get', 'grew', 'her', 'hope', 'humanities', 'idea.\\n', 'illustrations', 'in', 'increasingly', 'into', 'is', 'just', 'key', 'kind', 'knowledge.', 'language', 'language,', 'learning', 'learning.', 'levels', 'linguistic', 'literacy', 'literacy.\\n', 'make', 'might', 'more', 'mother’s', 'natural', 'needed', 'new', 'object,', 'of', 'our', 'out', 'own', 'perspectives.', 'practices', 'professor', 'progress', 'provide', 'put', 'readers', 'really', 'rich', 'richer', 'says', 'says.', 'scene', 'sees', 'semester,', 'she', 'similarities,”', 'sister', 'so', 'springboard', 'stories', 'students', 'students.”', 'students’', 'style', 'tales.', 'teaching', 'textbook', 'that', 'the', 'their', 'they', 'through', 'tiger', 'to', 'together', 'tool', 'understanding', 'unusually', 'up', 'use', 'useful', 'uses', 'very', 'vibrant', 'visual', 'vocabulary', 'was', 'way', 'we', 'what', 'while', 'who', 'with', 'work.', 'write', 'you', '“By', '“Folktales', '“Little', '“Sister', '“rich']
Tokens: ['Mimi', 'Kim,', 'teaching', 'professor', 'of', 'Korean', 'language,', 'is', 'the', 'co-author', 'of', 'a', 'new', 'Korean', 'language', 'textbook', 'that', 'uses', 'folktales', 'as', 'a', 'springboard', 'for', 'language', 'learning.', 'The', '21', 'stories', 'that', 'make', 'up', 'Tigers,', 'Fairies,', 'and', 'Gods:', 'Enchanting', 'Folktales', 'from', 'Korea', 'progress', 'through', 'increasingly', 'challenging', 'levels', 'of', 'diction', 'and', 'vocabulary', 'while', 'developing', 'students’', 'cultural', 'literacy.\\n', 'Every', 'semester,', 'Mimi', 'Kim', 'asks', 'her', 'Korean', 'language', 'students', 'at', 'WashU', 'to', 'write', 'their', 'own', 'Korean-style', 'folktales.', 'She', 'says', 'that', 'folktales', 'are', '“rich', 'in', 'cultural', 'context,', 'and', 'so', 'they', 'provide', 'a', 'very', 'effective', 'backdrop', 'for', 'discussions', 'about', 'cultural', 'practices', 'and', 'perspectives.', 'Students', 'really', 'get', 'into', 'our', 'discussions', 'about', 'commonalities', 'and', 'differences', 'between', 'Korean', 'folktales', 'and', 'the', 'stories', 'that', 'they', 'grew', 'up', 'with', 'in', 'their', 'own', 'communities.”', 'Kim', 'sees', 'cultural', 'literacy', 'as', 'a', 'key', 'tool', 'for', 'the', 'language', 'classroom.', 'Tigers,', 'Fairies,', 'and', 'Gods', 'grew', 'out', 'of', 'that', 'idea.\\n', 'The', 'book', 'is', 'an', 'unusually', 'rich', 'visual', 'object,', 'with', 'vibrant', 'illustrations', 'done', 'in', 'a', 'style', 'that', 'is', 'evocative', 'of', 'Korean', 'animation.', 'Kim', 'and', 'her', 'co-author,', 'Angela', 'Lee-Smith', 'of', 'Yale', 'University,', 'use', 'visual', 'and', 'linguistic', 'cues', 'to', 'engage', 'with', 'students’', 'cultural', 'knowledge.', 'In', '“Sister', 'Sun', 'and', 'Brother', 'Moon,”', 'for', 'example,', 'a', 'brother', 'and', 'sister', 'encounter', 'a', 'tiger', 'in', 'their', 'mother’s', 'clothing', 'in', 'a', 'scene', 'that', 'might', 'evoke', 'echoes', 'of', '“Little', 'Red', 'Riding', 'Hood”', 'for', 'readers', 'who', 'grew', 'up', 'with', 'the', 'Grimm', 'brothers’', 'tales.', 'That', 'kind', 'of', 'cross-cultural', 'comparison', 'is', 'exactly', 'what', 'we', 'hope', 'for', 'in', 'humanities', 'education,', 'Kim', 'says.', '“By', 'learning', 'a', 'new', 'language', 'you', 'gain', 'a', 'richer', 'understanding', 'of', 'cultural', 'differences', 'and', 'similarities,”', 'she', 'says.', '“Folktales', 'are', 'a', 'natural', 'tool', 'for', 'that', 'work.', 'They', 'just', 'needed', 'to', 'be', 'put', 'together', 'in', 'a', 'way', 'that', 'was', 'more', 'useful', 'for', 'students.”']

In [12]:
import re

text = "The quick brown fox jumps over the lazy dog."
pattern = r"[a-z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: h
Match: e
Match: q
Match: u
Match: i
Match: c
Match: k
Match: b
Match: r
Match: o
Match: w
Match: n
Match: f
Match: o
Match: x
Match: j
Match: u
Match: m
Match: p
Match: s
Match: o
Match: v
Match: e
Match: r
Match: t
Match: h
Match: e
Match: l
Match: a
Match: z
Match: y
Match: d
Match: o
Match: g

In [11]:
import re

text = "New York is a wonderful city."
pattern = r"[a-zA-Z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: N
Match: e
Match: w
Match: Y
Match: o
Match: r
Match: k
Match: i
Match: s
Match: a
Match: w
Match: o
Match: n
Match: d
Match: e
Match: r
Match: f
Match: u
Match: l
Match: c
Match: i
Match: t
Match: y

In [10]:
import re

text = "24 Hours a Day, 7 Days a Week, & 365 Days a Year!"
pattern = r"[a-zA-Z0-9]"
matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: 2
Match: 4
Match: H
Match: o
Match: u
Match: r
Match: s
Match: a
Match: D
Match: a
Match: y
Match: 7
Match: D
Match: a
Match: y
Match: s
Match: a
Match: W
Match: e
Match: e
Match: k
Match: 3
Match: 6
Match: 5
Match: D
Match: a
Match: y
Match: s
Match: a
Match: Y
Match: e
Match: a
Match: r

In [9]:
import re

text = "24 Hours a Day,\n7 Days a Week,\n & \t 365 Days a Year!"

pattern = r"[^a-zA-Z0-9]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match:
Match:
Match:
Match: ,
Match:

Match:
Match:
Match:
Match: ,
Match:

Match:
Match: &
Match:
Match:
Match:
Match:
Match:
Match:
Match: !

In [8]:
import re

text = "Hello, world.\n This is test #5."
pattern = r"\."

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: .
Match: .

In [ ]:
import re

text = "The price is $100."
pattern = r"$"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

In [ ]:
text = "Hello   World"
pattern = r"\S"

matches = re.findall(pattern, text)
print(matches)

for match in matches:
    print("Match:", match)

In [ ]:
import re

text = "123 _Main_ Street_ and 5th Avenue "
pattern = r"\d+\s\w+"

matches = re.findall(pattern, text)
print(matches)

for i in matches:
  print("Match:", i)