<a href="https://colab.research.google.com/github/kyumin0121/NLP_2024/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 20
print (a)

20

In [ ]:
b = 30
print(b)

2

In [ ]:
print (a+b)

22

In [ ]:
c = "I love Python"
print (c)

I love Python

In [ ]:
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)

Lori
Sam
Ken
Jen
Emma

In [ ]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ] #행성 이름
f = [1,2,3,4,5,6,7,8]

print (d)
print(e)
print (f)

In [ ]:
dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [1]:
str_data = 'I love python'
list_data = ['apple', 'banna', 'grapes','mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print(list_data)
print ('\n')
print(tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python


['apple', 'banna', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [2]:
x=100
y=95

if x>y:
  print('x is greater than y.')


else:
  print('x is smaller than or equal to y.')

x is greater than y.

In [3]:
x=0
y=0

if x > y:
  print('x is greater than y')

else:
  print('x is smaller than or equal to y')

x is smaller than or equal to y

In [4]:
list = ['a', 'b', 'c']
if 'a' in list:
  print ('a가 list 안에 있다.')
  print(list)

a가 list 안에 있습니다.
['a', 'b', 'c']

In [5]:
str_data = 'I love python'
list_data = ['apple', 'banna', 'grapes','mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print ('\n')
print(list_data)
print ('\n')
print(tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python


['apple', 'banna', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [6]:
import re

text = "The quick brown fox jumps over the lazy dog."
pattern = r"[a-z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: h
Match: e
Match: q
Match: u
Match: i
Match: c
Match: k
Match: b
Match: r
Match: o
Match: w
Match: n
Match: f
Match: o
Match: x
Match: j
Match: u
Match: m
Match: p
Match: s
Match: o
Match: v
Match: e
Match: r
Match: t
Match: h
Match: e
Match: l
Match: a
Match: z
Match: y
Match: d
Match: o
Match: g

In [7]:
import re

text = "A total of 149 episodes of The Aesop for Children."
pattern = r"[0-9]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: 1
Match: 4
Match: 9

In [13]:
import re

text = "Hello, world.\n This is test #5."
pattern = r"\."

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: .
Match: .

In [14]:
import re

text1 = "The price is $100 and the number pi is approximately 3.14."
pattern1 = r'\d+'

text2 = "The number pi is approximately 3.14159265358979323846 and you will hear a lot about it in Math class from 1st Grade to the 12th Grade."
pattern2 = r"\d+\.\d+"

matches1 = re.findall(pattern1, text1)
matches2 = re.findall(pattern2, text2)

for i in matches1:
    print("Match1:", i)

print('\n')

for i in matches2:

SyntaxError: incomplete input (<ipython-input-14-c6c8061bd417>, line 17)

In [12]:
import re

text = "Hello   World"
pattern = r"\S"

matches = re.findall(pattern, text)

for match in matches:
    print("Match:", match)

Match: H
Match: e
Match: l
Match: l
Match: o
Match: W
Match: o
Match: r
Match: l
Match: d

In [11]:
import re

text = "123 _Main_ Street_ and 5th Avenue "
pattern = r"\d\s\w+"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 3 _Main_

In [10]:

scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:
  print('Perfect')

1
2
3
4
5
Perfect

In [16]:
def add_txt(t1,t2):
  print (t1 + t2)


def add_txt(t1, t2):
    result = t1 + t2
    return result

In [ ]:
list = [1,2,3,4]
for i in list:
  print(i)
  break
else:
  print('Perfect')